In [1]:
5 = 7

SyntaxError: can't assign to literal (<ipython-input-1-5a7dce067504>, line 1)

In [2]:
5 == 7

False

In [3]:
myvar = 3 + 5

In [44]:
myvar = ((8.15 * 2 + (7.12 * 3) + 52) - 59.60)
myvar2 = int(myvar)
myvar3 = myvar - int(myvar)
print(myvar2)
print(myvar3)
print("the answer is 7:", myvar2, myvar3)

30
0.05999999999999517
the answer is 7: 30 0.05999999999999517

In [5]:
myva = 2+3

In [6]:
myva

5

In [7]:
myva2 = myva * 3

In [9]:
myva2

15

In [13]:
myva = 0.3 * math.log(0.3) + 0.2 * math.log(0.2)

In [12]:
import math

In [14]:
myva - myva2

-15.683079423784601

In [15]:
new_va = myva - myva2

In [16]:
new_va

-15.683079423784601

In [17]:
testvar = 2 ** 4

In [30]:
testvar = testvar - 1

In [32]:
testvar2 = testvar + 1

In [33]:
print(testvar)
print(testvar2)

12
13

In [36]:
123 - 20

103

In [38]:
print("hello world" - "world")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [39]:
len("hello")

5

In [41]:
len("supercalifragilisticexpialidocious")

34

In [42]:
len(123)

TypeError: object of type 'int' has no len()

In [45]:
type(1)

int

In [46]:
type('hello')

str

In [47]:
xyz = 'hello world'
type(xyz)

str

In [48]:
print 2,3,4,5

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(2,3,4,5)? (<ipython-input-48-2eed50f2a7b4>, line 1)

In [54]:
wiki = """in the fourteenth century BC, the Mongol emperors enjoyed great
authority and power over their neighbors."""

In [50]:
# written like a function
len(wiki)

105

In [51]:
# written in a separate type of notation
"hello".capitalize()

'Hello'

In [55]:
wiki

'in the fourteenth century BC, the Mongol emperors enjoyed great\nauthority and power over their neighbors.'

In [56]:
wiki.capitalize()

'In the fourteenth century bc, the mongol emperors enjoyed great\nauthority and power over their neighbors.'

In [62]:
# useful string functions
print("hippopotamus".count('p'))
print("KNIGHT.lower()")
print("new".upper())
print("new".capitalize())
print("         a lot of spaces, then some text ".strip())
print("armadillo".replace("mad", "..."))

3
KNIGHT.lower()
NEW
New
a lot of spaces, then some text
ar...illo

In [64]:
"""Monty Python (sometimes known as The Pythons) was a British surreal comedy group who
created their influential Monty Python's Flying Circus, a British television comedy
sketch show that first aired on the BBC on 5 October 1969.""".split()

['Monty',
 'Python',
 '(sometimes',
 'known',
 'as',
 'The',
 'Pythons)',
 'was',
 'a',
 'British',
 'surreal',
 'comedy',
 'group',
 'who',
 'created',
 'their',
 'influential',
 'Monty',
 "Python's",
 'Flying',
 'Circus,',
 'a',
 'British',
 'television',
 'comedy',
 'sketch',
 'show',
 'that',
 'first',
 'aired',
 'on',
 'the',
 'BBC',
 'on',
 '5',
 'October',
 '1969.']

In [65]:
# use in to test the contents of a string
"eros" in "rhinoceros"

True

In [66]:
# or in a variable
"air" in wiki

False

In [67]:
"teen" in wiki

True